@import "primeng/resources/themes/mdc-dark-deeppurple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap-grid.css";
@import "aos/dist/aos.css";

.link-wrapper {
  text-decoration: none;
  color: inherit
}

.section-header {
  text-align: center;
  margin-bottom: 0.5rem;
}
